  #pogrubienie_rola {
                font-size: 34px;
                color: #4962e5;
            }
            
            #pochylona_rola {
                font-size: 39pt;
                color: #a6b001;
            }
            
            #index_gorny_rola {
                font-size: 1.4cm;
                color: #abddac;
            }
            
            #index_dolny_rola {
                font-size: 2.3cm;
                color: rgb(34%, 65%, 22%);
            }
            
            #mono_rola {
                font-size: 44px;
                color: #5a14f4;
            }
            
            #powiekszenie_rola {
                color: #a7520c;
            }
            
            #pomniejszenie_rola {
                color: rgb(15%, 24%, 80%);
            }
